/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #20232b;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
i, a {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #00A0C6;
}

.card, .result-section {
    background-color: #23262e;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #08c2a8;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
}
.col-md-6 {
    margin-bottom: 5px;
}
.input-group-text, .form-control {
    background-color: #262a33;
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
.form-control:focus {
    background-color: inherit;
}
.input-group-text {
    color: #08c2a8;
}
#info {
    display: none;
}
.highlight-part, #cgpaResult, #totalCredit {
    color: #08c2a8;
}
#footer {
    margin: 30px 0 10px;
}
.input-group {
    border-radius: 20px;
}
.image-container {
    display: flex;
    justify-content: center;
}
.image {
    height: 90px;
}
.heading-info, .cgpa-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
    margin: 10px 0;
}
h3 {
    margin: 12px 0;
}

/* Theme styles */
.dark-theme {
    background-color: #f2f3f6;
    color: black;
}
.dark-theme .input-group-text, .dark-theme .form-control {
    background-color: #495057;
    color: #f8f9fa;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
}
.dark-theme .card {
    background-color: #e4e6ec;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
}
.dark-theme .btn {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

/* Light theme styles */
.light-theme .input-group-text {
    background-color: #E2F1E7;
    color: #387478;
}
.light-theme .form-control {
    background-color: white;
    color: #495057;
    border: 1px solid #ced4da;
}

/* Switch and Slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #08c2a8;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
input:checked + .slider:before {
    transform: translateX(26px);
    background-color: #08c2a8;
}
input:focus + .slider {
    box-shadow: 0 0 1px #08c2a8;
}

/* Hover effects */
.fa-github:hover {
    color: #134B70;
}
.fa-instagram:hover {
    color: #EE66A6;
}
